/**
 * _variables.scss
 *
 * @dateCreated 11/02/2018
 * @author Dean Heffernan
 */

// comment styles
$main-colour: #518C00;
$border-colour: #E6E7DF;
$line-height: 1.428571429;
$font-size: 12px;
$font-family: "Helvetica Neue", Helvetica, sans-serif;
